.phormalabs__hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background: #ebf5ff;
  padding-bottom: 170px !important;
}
.phormalabs__hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.phormalabs__hero-content_header {
  all: unset;
  font-family: "Unbounded", sans-serif;

  color: #1d1d1d;
  margin-bottom: 20px;
  width: 100%;
  font-size: 62px;
  line-height: 70px;
  font-weight: 700;
}
.phormalabs__hero-content_header span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.phormalabs__hero-content p {
  margin-bottom: 30px;
  font-size: 18px;
}
.phormalabs__hero-content .button {
  margin-bottom: 10px;
}
.phormalabs__hero-image {
  width: 500px;
}

.phormalabs__proof {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 2rem;

  width: 55%;
  height: 240px;
  margin-top: -70px;

  background: var(--white);
  /* shadow-1/glow high */
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}
.phormalabs__proof-partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.phormalabs__proof-partners img {
  width: 150px;
  height: 50px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .phormalabs__hero {
    flex-direction: column;
    padding: 50px 70px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .phormalabs__hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .phormalabs__hero-content_header {
    font-size: 40px;
    line-height: 50px;
  }
  .phormalabs__hero-image {
    width: 100%;
  }
  .phormalabs__proof {
    height: 230px;
    width: 90%;
    padding: 20px;
  }
  .phormalabs__proof-partners {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 426px) {
  .phormalabs__hero {
    align-items: flex-start;
    text-align: left;
    padding: 50px 16px !important;
  }
  .phormalabs__hero-content .button {
    width: 100%;
  }
}
