.phormalabs__aboutus {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.phormalabs__aboutus-content {
  width: 50%;
}
.phormalabs__aboutus-content h2 {
  margin-bottom: 20px;
}
.phormalabs__aboutus-content p {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 22px;
}
.phormalabs__aboutus-content-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.phormalabs__aboutus-content_service {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  gap: 1rem;
}
.phormalabs__aboutus-content_service div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.phormalabs__aboutus-content_service .icon {
  /* width: 150px; */
  width: 24px;
  height: 24px;
  color: var(--phormalabs-color);
 


}
.phormalabs__aboutus-content_service h4 {
  color: var(--phormalabs-color);
}
.phormalabs__aboutus-content_service p {
  width: 80%;
  margin-top: 10px;
  color: var(--secondary-color);
}

.phormalabs__aboutus-image {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .phormalabs__aboutus {
    flex-direction: column;
    width: 100%;
  }
  .phormalabs__aboutus-content {
    width: 100%;
  }
  .phormalabs__aboutus-image {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .phormalabs__aboutus-content p {
    font-size: 16px;
  }
  .phormalabs__aboutus {
    padding: 50px 20px;
  }
  .phormalabs__aboutus-content_service p {
    width: 100%;
  }
}
