@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Outfit", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  /* colors  */
  --heading-color: #1e1983;
  --primary-color: #1c1c1e;
  --secondary-color: rgba(28, 28, 30, 0.72);
  --white: #fff;
  --phormalabs-color: #7c5cff;

  /* end of colors  */

  /* transtion  */
  --transition: 0.25s linear;
  /* end of transition  */

  /* padding  */
  --section-padding: 20px 100px;
  --section-h-padding: 20px 150px;
  /* end of padding  */

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-style: normal;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  color: var(--phormalabs-color);
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);
}

.linkText {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: #1c1c1e;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.linkText:hover {
  color: var(--phormalabs-color);
}

.button {
  width: 140px;
  height: 48px;
  background: var(--phormalabs-color);
  border-radius: 8px;
  text-decoration: none;
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.button:hover {
  background-color: var(--white);
  color: var(--phormalabs-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.section-padding {
  padding: var(--section-padding);
}
